<%- include('../partials/header.ejs') %>

<section class="contact" id="contact">
  <h2 class="heading"><span>Login!</span></h2>

  <form action="/auth/login" method="POST">
    <div class="input-box">
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
    </div>
    <input type="submit" value="Login" class="btn" />
  </form>
</section>

<%- include('../partials/footer.ejs') %>
