<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Contact Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% if (alerts.success) { %> <% alerts.success.forEach(msg => { %>

    <div class="alert alert-success"><%= msg %></div>
    <% }) %> <% } %> <% if (alerts.error) { %> <% alerts.error.forEach(msg => {
    %>
    <div class="alert alert-danger"><%= msg %></div>
    <% }) %> <% } %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-ligt">
      <a class="navbar-brand" href="#">Daily Points</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact"
              >Contact <span class="sr-only">(current)</span></a
            >
          </li>
          <% if(!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <section class="contact">
      <h2 class="heading">Contact Me!</h2>
      <form action="/contact" method="POST">
        <div class="input-box">
          <div class="input-field field">
            <input
              type="text"
              placeholder="Full Name"
              name="fullName"
              id="name"
              class="item"
              autocomplete="off"
            />
            <div class="error-txt">Full Name cant be blank</div>
          </div>
          <div class="input-field field">
            <input
              type="text"
              placeholder="Email"
              name="email"
              id="email"
              class="item"
              autocomplete="off"
            />
            <div class="error-txt">Email address cant be blank</div>
          </div>
        </div>
        <div class="input-box">
          <div class="input-field field">
            <input
              type="text"
              placeholder="Phone Number"
              id="phone"
              name="phone"
              class="item"
              autocomplete="off"
            />
            <div class="error-txt">Phone Number Cant be blank</div>
          </div>
          <div class="input-field field">
            <input
              type="text"
              placeholder="Subject"
              name="subject"
              id="subject"
              class="item"
              autocomplete="off"
            />
            <div class="error-txt email">Subject cant be blank</div>
          </div>
        </div>

        <div class="textarea-field field">
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Your Message"
            class="item"
            autocomplete="off"
          ></textarea>
          <div class="error-txt">Message cant be blank</div>
        </div>

        <button type="submit">Send Message</button>
      </form>
    </section>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
