<%- include('partials/header') %>

    <section class="home" id="home">
      <div class="home-content">
        <h1>Earn Daily</h1>
        <p>Review The latest Products and Earn Points</p>
        <div class="social-media">
          <i class="bx bxs-shopping-bags"></i>
          <i class="bx bx-right-arrow-alt" id="media"></i>
          <i class="bx bx-notepad"></i>
          <i class="bx bx-right-arrow-alt" id="media"></i>
          <i class="bx bx-coin"></i>
        </div>
        <a href="/auth/signup" class="btn">Sign Up</a>
      </div>

      <div class="home-img">
        <img src="https://i.imgur.com/QkIa5tT.jpeg" id="homeImg" alt="" />
      </div>
    </section>
    
<%- include('partials/footer') %>