@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #373a40;
  --second-bg-color: #686d76;
  --text-color: #fff;
  --main-color: #dc5f00;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.navbar a {
  font-size: 28px;
  color: var(--text-color);
  margin-left: 64px;
  transition: 0.3s ease;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 1.3em;
}
.profile {
  margin-top: 5rem;
}

.home-img img {
  width: 35vw;
  animation: floatImage 5s ease-in-out infinite;
  border-radius: 0.5rem;
}
.container .home-img img {
  padding: 5rem;
  border-radius: 1rem;
}

#profile .input-box {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.input-box i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background: transparent;
  font-size: 5rem;
  color: var(--main-color);
  transition: 0.5s ease;
}

.input-box .btn {
  margin: 3rem 1.5rem 1rem 0;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.contact form .input-box input,
.contact form .input-box select,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--second-bg-color);
  background: var(--text-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box .checkbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.contact form .input-box label {
  width: 80%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 1rem;
}

.contact form .input-box input {
  width: 100%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  transform: 0.5s ease;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

span {
  color: var(--main-color);
}
/* Breakpoints */
@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}

@media (max-width: 615px) {
}

@media (max-width: 450px) {
}

@media (max-width: 365px) {
}
